{% extends 'layout/app.html' %}
{% load static %}
{% block title %} Inicio {% endblock title %}
{% block content %}
    <div class="container bg-white border rounded-4 shadow-lg mx-auto mt-5 p-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="fs-4 fw-bold">CONTACTOS</div>
            <a class="btn btn-dark px-5 py-2" href="{% url 'add_app' %}">
                AGREGAR APLICACIÓN
            </a>
        </div>
        
        <div class="overflow-auto">
            <table class="table table-hover">
                <thead >
                    <tr>
                        <th scope="col" class="table-headers text-center">#</th>
                        <th scope="col" class="table-headers text-center">NOMBRE</th>
                        <th scope="col" class="table-headers text-center">DESCRIPCIÓN</th>
                        <th scope="col" class="table-headers text-center">ESTADO</th>
                        <th scope="col" class="table-headers text-center" >ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock content %}