{% extends 'layout/app.html' %}
{% load static %}
{% block title %} Inicio {% endblock title %}
{% block content %}
    <div class="container bg-white border rounded-4 shadow-lg mx-auto mt-5 p-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="fs-4 fw-bold">CONTACTOS</div>
            <a class="btn btn-primary px-5 py-2" href="#">
                AGREGAR APLICACIÓN
            </a>
        </div>
        
        <div class="overflow-auto">
            <table class="table table-hover">
                <thead class="bg-dark-subtle">
                    <tr>
                        <th scope="col" class="table-headers">ID</th>
                        <th scope="col" class="table-headers">NOMBRE</th>
                        <th scope="col" class="table-headers">DESCRIPCIÓN</th>
                        <th scope="col" class="table-headers text-center">ESTADO</th>
                        <th scope="col" class="table-headers text-center" >ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock content %}